<div class="container">
    <div class="row">
        <div class="col">
            <div class="card my-4 bg-dark text-white"> <!-- Fondo oscuro y texto blanco -->
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
                    <h3 class="mt-2 me-4">Cambiar contraseña</h3>
                </nav>

                <div class="card-body">
                    <form (ngSubmit)="cambiarContrasenia(nuevoUserForm)" #nuevoUserForm="ngForm">
                        <div class="form-group">
                            <label for="pass1">*Contraseña anterior:</label>
                            <input type="password" class="form-control bg-dark text-white" name="pass1" #pass1="ngModel" [(ngModel)]="oldPassword" required> <!-- Campo oscuro -->
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="pass1">*Nueva contraseña:</label>
                            <input type="password" class="form-control bg-dark text-white" name="pass1" #pass="ngModel" [(ngModel)]="newPassword" required> <!-- Campo oscuro -->
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="pass2">*Confirmar Contraseña:</label>
                            <input type="password" class="form-control bg-dark text-white" name="pass2" #pass2="ngModel" [(ngModel)]="confirmPassword" required> <!-- Campo oscuro -->
                        </div>
                        <br>                        
                        <div class="text-center">
                            <!-- Asegúrate de comparar los valores de los campos, no las referencias -->
                            <button type="submit" class="btn btn-success w-75 mt-2 me-10"
                                [disabled]="!nuevoUserForm.form.valid || newPassword !== confirmPassword"> <i class="bi bi-save"></i> Cambiar contraseña</button>
                        </div>
                        <!-- Mostrar un mensaje de error si las contraseñas no coinciden -->
                        <div *ngIf="newPassword !== confirmPassword" class="alert alert-danger mt-2">
                            Las contraseñas no coinciden.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
