<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!-- Botón para agregar carpeta o archivo -->
<div class="d-flex align-items-center my-3" (contextmenu)="onRightClick($event,null,0)">
  <button class="btn btn-success" (click)="toggleForm()">
    <i class="bi bi-plus-circle"></i> Nuevo
  </button>
  <div *ngIf="showForm" class="ms-3">
    <button class="btn btn-info me-2" (click)="setFormType('carpeta')">
      <i class="bi bi-folder-plus"></i> Carpeta
    </button>
    <button class="btn btn-info" (click)="setFormType('archivo')">
      <i class="bi bi-file-earmark-plus"></i> Archivo
    </button>
  </div>
</div>

<!-- Formulario para agregar carpeta -->
<div *ngIf="formType === 'carpeta'" (contextmenu)="onRightClick($event,null,0)">
  <input type="text" [(ngModel)]="nuevoNombre" class="form-control my-2" placeholder="Nombre de la nueva carpeta" />
  <button class="btn btn-primary" (click)="agregarCarpeta()">Guardar Carpeta</button>
</div>

<!-- Formulario para agregar archivo -->
<div *ngIf="formType === 'archivo'" (contextmenu)="onRightClick($event,null,0)">
  <input type="text" [(ngModel)]="nuevoArchivoNombre" class="form-control my-2" placeholder="Nombre del archivo" />
  <select [(ngModel)]="nuevaExtension" class="form-control my-2">
    <option value="" disabled selected>Seleccione la extensión</option>
    <option value=".txt">.txt</option>
    <option value=".html">.html</option>
    <option value=".png">.png</option>
    <option value=".jpg">.jpg</option>
  </select>
  <textarea *ngIf="nuevaExtension==='.txt' || nuevaExtension==='.html'" [(ngModel)]="nuevoContenido"
    class="form-control my-2" placeholder="Contenido del archivo"></textarea>
  <div *ngIf="nuevaExtension === '.png' || nuevaExtension === '.jpg'">
    <h2>Subir Archivo</h2>
    <input type="file" (change)="onFileSelected($event)" [accept]="nuevaExtension" />
    <br><br>
  </div>
  <button class="btn btn-primary" (click)="agregarArchivo()">Guardar Archivo</button>
</div>

<div (contextmenu)="onRightClick($event,null,0)">
  <app-breadcrumb [breadcrumb]="breadcrumb" (navigate)="navigateTo($event)">
  </app-breadcrumb>
</div>


<!-- Muestra las carpetas -->
<div class="area-principal" (contextmenu)="onRightClick($event,null,0)"> <!-- Agregar el evento contextmenu aquí -->
  <div class="d-flex flex-wrap">
    <div *ngFor="let folder of carpetas; let i = index" class="text-center mx-3 my-2 position-relative"
      (contextmenu)="onRightClick($event, folder,1)"> <!-- Agrega el evento contextmenu aquí -->
      <button class="btn btn-link position-relative" (click)="navegarACarpeta(folder)">
        <i class="bi bi-folder-fill" style="font-size: 4rem; color: #ff851be7;"></i>
        <i class="bi bi-file-text-fill position-absolute"
          style="font-size: 2rem; top: 10px; left: 15px; color: white;"></i>
      </button>
      <div>{{ folder.nombre }}</div> <!-- Nombre de la carpeta debajo del ícono -->
    </div>
    <div *ngFor="let archivo of archivos; let j = index" class="text-center mx-3 my-2 position-relative"
      (contextmenu)="onRightClick($event, archivo,2)">
      <button class="btn btn-link position-relative" (click)="mostrarArchivo(archivo)">
        <i [ngClass]="getFileIconClass(archivo.extension)" style="font-size: 4rem; color: #007bff;"></i>
      </button>
      <div>{{ archivo.nombre }}{{ archivo.extension }}</div>
    </div>
  </div>
</div>
<!-- Muestra los archivos 
<div class="area-principal" (contextmenu)="onRightClick($event, null, 0)">
  <div class="d-flex flex-wrap">
    <div *ngFor="let archivo of archivos; let j = index" class="text-center mx-3 my-2">
      <button class="btn btn-link">
        <i [ngClass]="getFileIconClass(archivo.extension)" style="font-size: 3rem; color: #007bff;"></i>
      </button>
      <div>{{ archivo.nombre }}{{ archivo.extension }}</div>
    </div>
  </div>
</div>-->

<!-- Menú contextual -->
<div *ngIf="mostrarmenu" class="menu-contextual" [ngStyle]="{'top': menuTop + 'px', 'left': menuLeft + 'px'}">
  <button *ngIf="!isCarpeta" class="btn btn-sm btn-secondary d-block my-1" (click)="abrirModal()">
    <i class="bi bi-pencil"></i> Editar
  </button>
  <button *ngIf="isCarpeta" class="btn btn-sm btn-secondary d-block my-1" (click)="abrirModal()">
    <i class="bi bi-pencil"></i> Renombrar
  </button>
  <button class="btn btn-sm btn-danger d-block my-1" (click)="eliminarCarpeta()">
    <i class="bi bi-trash"></i> Mover a la papelera
  </button>
  <button class="btn btn-sm btn-info d-block my-1" (click)="copiarCarpeta()">
    <i class="bi bi-files"></i> Copiar
  </button>
  <button class="btn btn-sm btn-primary d-block my-1" (click)="verPropiedades()">
    <i class="bi bi-info-circle"></i> Propiedades
  </button>
  <button *ngIf="!isCarpeta" class="btn btn-sm btn-success d-block my-1" (click)="mostrarModalCompartir()">
    <i class="bi bi-share"></i> Compartir archivo
  </button>
</div>


<!-- Menú contextual 2 -->
<div *ngIf="mostrarmenu2" class="menu-contextual" [ngStyle]="{'top': menuTop + 'px', 'left': menuLeft + 'px'}">
  <button [disabled]="!permisoMover_Copiar" class="btn btn-sm btn-info d-block my-1" (click)="pegarCarpeta()">
    <i class="bi bi-clipboard"></i> Pegar
  </button>
  <button [disabled]="!permisoMover_Copiar" class="btn btn-sm btn-warning d-block my-1" (click)="moverCarpeta()">
    <i class="bi bi-arrow-right"></i> Mover aquí
  </button>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': mostrarModal}"
  [ngStyle]="{'display': mostrarModal ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: black; color: white;">
      <div class="modal-header">
        <h5 class="modal-title">Renombrar Carpeta</h5>
        <button type="button" class="close" (click)="cerrarModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="nuevoNombre" class="form-control" placeholder="Nuevo nombre" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="actualizarNombre()">Actualizar Nombre</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal para mostrar la imagen -->
<div *ngIf="selectedImage" class="modal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <img [src]="selectedImage" alt="Imagen" />
  </div>
</div>

<div *ngIf="modalArchivos" class="modal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <div *ngIf="selectedExtension === '.txt'">
      <h2>Contenido del Archivo TXT</h2>
      <pre>{{ modalArchivos }}</pre>
    </div>
    <div *ngIf="selectedExtension === '.html'">
      <h2>Contenido del Archivo HTML</h2>
      <div [innerHTML]="modalArchivos"></div>
    </div>
  </div>
</div>

<div *ngIf="modalDetalles" class="modal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>

    <div *ngIf="isCarpeta">
      <h2>Detalles de la Carpeta</h2>
      <p><strong>Nombre:</strong> {{ carpetaEdit.nombre }}</p>
      <p><strong>Fecha de Modificación:</strong> {{ carpetaEdit.fechamod | date:'short' }}</p>
      <p><strong>Usuario que la creó:</strong> {{ getNameUser() }}</p>
    </div>

    <div *ngIf="!isCarpeta">
      <h2>Detalles del Archivo</h2>
      <p><strong>Nombre:</strong> {{ objetoCopiado.nombre }}</p>
      <p><strong>Extensión:</strong> {{ objetoCopiado.extension }}</p>
      <p><strong>Fecha de Modificación:</strong> {{ objetoCopiado.fechamod | date:'short' }}</p>
      <p><strong>Usuario que lo creó:</strong> {{ getNameUser() }}</p>
    </div>
  </div>
</div>


<!-- Modal para editar archivo -->
<div *ngIf="editArchivoModal" class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': editArchivoModal}"
    [ngStyle]="{'display': editArchivoModal ? 'block' : 'none'}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Archivo</h5>
                <button type="button" class="close" (click)="cerrarModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="actualizarArchivo()">
                    <div class="form-group">
                        <label for="fileName">Nombre del Archivo:</label>
                        <input type="text" id="fileName" [(ngModel)]="objetoCopiado.nombre" name="fileName" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="fileExtension">Extensión:</label>
                        <select id="fileExtension" [(ngModel)]="objetoCopiado.extension" name="fileExtension" class="form-control" required>
                            <option value=".txt">.txt</option>
                            <option value=".html">.html</option>
                            <option value=".png">.png</option>
                            <option value=".jpg">.jpg</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="objetoCopiado.extension === '.txt' || objetoCopiado.extension === '.html'">
                        <label for="fileContent">Contenido:</label>
                        <textarea id="fileContent" [(ngModel)]="objetoCopiado.contenido" name="fileContent" class="form-control"></textarea>
                    </div>
                    <div class="form-group" *ngIf="objetoCopiado.extension === '.png' || objetoCopiado.extension === '.jpg'">
                        <label for="fileUpload">Subir Archivo:</label>
                        <input type="file" id="fileUpload" (change)="onFileSelected($event)" name="fileUpload" [accept]="objetoCopiado.extension" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar Archivo</button>
                        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para compartir archivo -->

<div *ngIf="mostrarmodalCompartirArchivo" class="modal" tabindex="-1" [ngClass]="{ 'show d-block': mostrarmodalCompartirArchivo }" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Compartir Archivo</h5>
        <button type="button" class="close" (click)="cerrarModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar usuarios..."
          [(ngModel)]="busqueda"
          (input)="filtrarUsuarios()"
        />
        <ul class="list-group mt-2">
          <li
            *ngFor="let usuario of usuariosFiltrados"
            class="list-group-item d-flex justify-content-between align-items-center"
            (click)="seleccionarUsuario(usuario)"
          >
            <i class="fas fa-user mr-2"></i> <!-- Ícono de usuario -->
            <span>{{ usuario.nombre }} ({{ usuario.username }})</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary" (click)="compartirArchivo()" [disabled]="!usuarioSeleccionado">
          Compartir Archivo
        </button>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
