<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!-- Botón para agregar carpeta o archivo -->
<div class="d-flex align-items-center my-3" (contextmenu)="onRightClick($event,null,0)">
  <button class="btn btn-success" (click)="toggleForm()">
    <i class="bi bi-plus-circle"></i> Nuevo
  </button>
  <div *ngIf="showForm" class="ms-3">
    <button class="btn btn-info me-2" (click)="setFormType('carpeta')">
      <i class="bi bi-folder-plus"></i> Carpeta
    </button>
    <button class="btn btn-info" (click)="setFormType('archivo')">
      <i class="bi bi-file-earmark-plus"></i> Archivo
    </button>
  </div>
</div>

<!-- Formulario para agregar carpeta -->
<div *ngIf="formType === 'carpeta'" (contextmenu)="onRightClick($event,null,0)">
  <input type="text" [(ngModel)]="nuevoNombre" class="form-control my-2" placeholder="Nombre de la nueva carpeta" />
  <button class="btn btn-primary" (click)="agregarCarpeta()">Guardar Carpeta</button>
</div>

<!-- Formulario para agregar archivo -->
<div *ngIf="formType === 'archivo'" (contextmenu)="onRightClick($event,null,0)">
  <input type="text" [(ngModel)]="nuevoArchivoNombre" class="form-control my-2" placeholder="Nombre del archivo" />
  <select [(ngModel)]="nuevaExtension" class="form-control my-2">
    <option value="" disabled selected>Seleccione la extensión</option>
    <option value=".txt">.txt</option>
    <option value=".html">.html</option>
    <option value=".png">.png</option>
    <option value=".jpg">.jpg</option>
  </select>
  <textarea [(ngModel)]="nuevoContenido" class="form-control my-2" placeholder="Contenido del archivo"></textarea>
  <button class="btn btn-primary" (click)="agregarArchivo()">Guardar Archivo</button>
</div>

<div (contextmenu)="onRightClick($event,null,0)">
  <app-breadcrumb [breadcrumb]="breadcrumb" (navigate)="navigateTo($event)">
  </app-breadcrumb>
</div>


<!-- Muestra las carpetas -->
<div class="area-principal" (contextmenu)="onRightClick($event,null,0)"> <!-- Agregar el evento contextmenu aquí -->
  <div class="d-flex flex-wrap">
    <div *ngFor="let folder of carpetas; let i = index" class="text-center mx-3 my-2 position-relative"
      (contextmenu)="onRightClick($event, folder,1)"> <!-- Agrega el evento contextmenu aquí -->
      <button class="btn btn-link position-relative" (click)="navegarACarpeta(folder)">
        <i class="bi bi-folder-fill" style="font-size: 4rem; color: #ff851be7;"></i>
        <i class="bi bi-file-text-fill position-absolute"
          style="font-size: 2rem; top: 10px; left: 15px; color: white;"></i>
      </button>
      <div>{{ folder.nombre }}</div> <!-- Nombre de la carpeta debajo del ícono -->
    </div>
  </div>
</div>

<!-- Menú contextual -->
<div *ngIf="mostrarmenu" class="menu-contextual" [ngStyle]="{'top': menuTop + 'px', 'left': menuLeft + 'px'}">
  <button class="btn btn-sm btn-secondary d-block my-1" (click)="abrirModal()">
    <i class="bi bi-pencil"></i> Renombrar
  </button>
  <button class="btn btn-sm btn-danger d-block my-1" (click)="eliminarCarpeta()">
    <i class="bi bi-trash"></i> Eliminar
  </button>
  <button class="btn btn-sm btn-info d-block my-1" (click)="copiarCarpeta()">
    <i class="bi bi-files"></i> Copiar
  </button>
</div>

<!-- Menú contextual 2 -->
<div *ngIf="mostrarmenu2" class="menu-contextual" [ngStyle]="{'top': menuTop + 'px', 'left': menuLeft + 'px'}">
  <button [disabled]="!permisoMover_Copiar" class="btn btn-sm btn-info d-block my-1" (click)="pegarCarpeta()">
    <i class="bi bi-clipboard"></i> Pegar
  </button>
  <button [disabled]="!permisoMover_Copiar" class="btn btn-sm btn-warning d-block my-1" (click)="moverCarpeta()">
    <i class="bi bi-arrow-right"></i> Mover aquí
  </button>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': mostrarModal}"
  [ngStyle]="{'display': mostrarModal ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: black; color: white;">
      <div class="modal-header">
        <h5 class="modal-title">Renombrar Carpeta</h5>
        <button type="button" class="close" (click)="cerrarModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="nuevoNombre" class="form-control" placeholder="Nuevo nombre" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="actualizarNombre()">Actualizar Nombre</button>
      </div>
    </div>
  </div>
</div>